.footer {
    background: #181818;
}

.footer-wrapper {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 56px 7px 0 25px;
    border-bottom: 1px solid #262626;
    padding-bottom: 30px;
}

.footer_title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 5px;
}

.footer-contacts{
    min-width: 290px;
}

.footer-address,
.footer-numbers,
.footer-socials {
    border-top: 1px solid #262626;
    display: flex;
    flex-direction: column;
}



.footer-number_item,
.footer-address_item,
.footer-socials_item {
    cursor: pointer;
    display: flex;
    margin-top: 15px;
    gap: 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 0.02em;
}

.footer-number_item:hover,
.footer-address_item:hover,
.footer-socials_item:hover{
    color: rgb(15, 42, 89);
}


.footer-numbers{
    padding-bottom: 15px;
}

.footer-socials {
    padding-top: 8px;
    padding-bottom: 20px;
    font-weight: 400;
}

.footer-socials_item{
    display: flex;
    margin-top: 14px;
}
.footer-contacts_logo{
    width: 16.5px;
    height: 19.5px;
}
.footer-address {
    padding-top: 9px;
}

.footer-remotion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-remotion span{
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-primary2);
    cursor: pointer;
}



@media screen and (max-width: 1100px) {
    .footer-map{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {

    .footer_title{
        width: 100%;
    }
   .footer-contacts{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
   } 
  .footer-wrapper{
    flex-direction: column;
    gap: 30px;
    padding: 56px 0px 0 0px;
  }
}