.news-wrapper {
    margin-top: 104px;
    padding-left: 25px;
}

.news_title {
    color: #200E32;
    font-size: 2.8rem;
    line-height: 3.5rem;
    font-family: "Inter", serif;
    font-weight: 700;
}

.news-actuals {
    display: flex;
    margin-top: 23px;
    width: 100%;
    gap: 30px;
}



.news-actuals-current {
    width: 49.5%;
    height: 383px;
    min-width: auto;
    display: flex;
    flex-direction: column;
    transition: .4s;
    justify-content: end;
    background: url(/assets/img/news-current.png) no-repeat center center;
    animation: news-animation .4s;
}



.news-actuals-current:hover{
    box-shadow: 2px 8px 6px   #200E32 ;
    cursor: pointer;
}

.news-actuals-current_date {
    color: var(--text-primary2);
    font-size: var(--text-size);
    font-weight: normal;
    margin-left: 24px;
    margin-bottom: 7px;
}

.news-actuals-current_title {
    color: var(--text-primary2);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 24px;
    margin-bottom: 23px;
    line-height: 25px;

}

.news-actuals-current_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.news-actuals-others {
    width: 50%;
    flex-direction: column;
    display: flex;
    gap: 21px
}

.news-actuals-others_wrapper {
    display: flex;
    gap: 32px;
}


.news-actuals-others_item {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 268px;
    height: 181px;
    transition: .4s;
    cursor: pointer;
}

.news-actuals-others_item:hover{
    box-shadow: 2px 8px 6px   #200E32 ;
}

.news-actuals-others_item_date {
    font-size: 1.1rem;
    color: var(--text-primary2);
    margin-bottom: 5px;
    margin-left: 10px;
}

.news-actuals-others_item_title {
    font-size: 1.3rem;
    width: 257px;
    font-weight: 700;
    color: var(--text-primary2);
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 1.80rem;
}

.news-bg1 {
    background: url('/assets/img/news-others/Rectangle\ 185.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.news-bg2 {
    background: url('/assets/img/news-others/Rectangle\ 187.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.news-bg3 {
    background: url('/assets/img/news-others/Rectangle\ 186.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.news-bg4 {
    background: url('/assets/img/news-others/Rectangle\ 188.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
    .news-wrapper {
        padding-left: 0px;
    }

    .news-actuals {
        gap: 25px
    }

    .news-actuals-others_wrapper {
        gap: 20px;
    }

    .news-actuals-current {
        background-position: right 0;
        height: 390px;
        width: 40%;
    }

    .news-actuals-others_item_date {
        font-size: 1.1rem;
        color: var(--text-primary2);
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .news-actuals-others_item_title {
        font-size: 1.3rem;
        font-weight: 700;
        color: var(--text-primary2);
        padding-bottom: 10px;
        padding-left: 10px;
        line-height: 1.80rem;
    }

}

@media screen and (max-width: 920px) {
    .news-actuals {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .news-actuals-current {
        width: 100%;
        background-size: cover;
    }

    .news-actuals-others {
        justify-content: center;
        width: 100%;
    }

    .news-actuals-others_wrapper {
        justify-content: center;
    }

    .news-actuals-others_item {
        width: 80%;
        background-position: center center;
        overflow: hidden;
    }
}

@media screen and (max-width: 592px) {
    .news-actuals-others_wrapper {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .news-actuals-others_item {
        width: 100%;
    }
}