
.opportunities-wrapper{
    display: flex;
    justify-content: space-around;
    gap: 18px;
    margin-top: 33px;
    margin-left: 20px;
}

.opportunities-item{
    position: relative;
    z-index: -2;
    flex: 1;
    border-left: 5px solid #EBEBEB ;
    height: 130px;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 16px;
    max-width: 368px;
    background: #F8F8F8;
    transition: 0.4s;
}

.opportunities-item:not(:first-child){
    border-left: 5px solid #0F2A59;
}

.opportunities-item:not(:first-child) .opportunities_item_title{
    font-weight: 700;
}

.opportunities_item_title{
    font-family: "Inter", serif;
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 8px;
}

.opportunities_item_desc{
    font-family: "Inter", serif;
    font-size: var(--text-size);
    font-weight: normal;
    line-height: 2.1rem;
}
.opportunities_item_bg{
    position: absolute;
    right: 25px;
    bottom: 22px;
    z-index: -1;
}

@media screen and (max-width: 882px) {
    .opportunities-wrapper{
        flex-wrap: wrap;
    }
    .opportunities-item{
        min-height: 110px;
        height: auto;
        min-width: 300px;
        flex: 1;
    }
    .opportunities_item_bg{
        right: 70px;
        bottom: 15px;
    }
}



@media screen and (max-width: 592px) {
    .opportunities_item_bg{
        right: 40px;
        bottom: 10px;
    }
    .opportunities-wrapper{
        margin-left: 0;
    }
    .opportunities-item{
        width: 100%;
    }
}

.body{
    border: 1px solid red;
}