
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter";
    font-size: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background: transparent;
    border: 1px solid var(--text-primary2);
    color: var(--text-primary2);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
    font-family: "Inter", serif;
}


@media screen and (max-width: 992px) {
    .container{
        margin: 0 10px;
    }
}


@media screen and (max-width: 762px ) {
    .header-left{
        gap: 80px
    }
    html {
        font-family: "Inter";
        font-size: 9px;
    }
}

@media screen and (max-width: 592px ) {
    .header-left{
        gap: 80px
    }
    html {
        font-family: "Inter";
        font-size: 8px;
    }
}